# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Database files (optional)
# =========================
*.db
*.sqlite3

# =========================
# Node (if frontend exists)
# =========================
node_modules/
dist/

# =========================
# ML Dataset (IMPORTANT)
# =========================
Data/

# =========================
# Junk folders
# =========================
__MACOSX/